html, body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#renderCanvas{
    width: 100%;
    height: 100%;
    touch-action: none;
}

.modal{
    width: 240px;
    height: 400px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: white;
}

.modal p{
    width: 30px;
    color: black;
    font-size: 15px;
}
